<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Doohma</title>
  <link href="/static/img/logo.png" rel="shortcut icon" />

  <!-- Bootstrap Core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-sm fixed-top navbar-light">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/static/img/logo.png" alt="" style="width:60px;height:60px;">
        </a>
    </div>
</nav>




  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Doohma</h1>
      <h3 class="mb-5">
        <em>Anyone can advertise</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Upload ad</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- Upload Form -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 style="color:black ! important;">Ad Upload Form</h2>
          <p class="lead mb-5">Please complete your basic details and insert high quality landscape pictures with resolution
            <a href="https://www.dimensions.guide/element/instagram-landscape">(16:9).</a>
          Once we receive your basic details and pictures, we will design the creative and email it back to you for approval.Finally
            if you are happy with the ad content, we will run your ad at
            <a href="http://www.nisalocally.co.uk/store/nisa-local-1-newport-ave-london">"Nisa Virginia Quay"</a>
            located closer to Canary Wharf, London.
          </p>
          <div class="row">
            <div class="col-lg-8 mx-auto">
                <form method="POST" enctype="multipart/form-data">

                   <!-- Question 1 -->

                  <div class="form-group">
                    <label>1.Do you currently do any form of advertisement?</label>
                  <!--<p class="text-primary">Do you currently do any form of advertisement?</p>-->
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ad" id="exampleRadios1" value="Yes">
                    <label class="form-check-label" for="exampleRadios1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ad" id="exampleRadios2" value="No">
                    <label class="form-check-label" for="exampleRadios2">
                      No
                    </label>
                  </div>
                  </div>

                  <!-- Question 2 -->

                  <div class="form-group">
                    <label>2.If yes, how do you roughly spend on ads per month?</label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="adspend" id="exampleRadios1" value="< £50">
                      <label class="form-check-label" for="exampleRadios1">
                        < £50
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="adspend" id="exampleRadios2" value="£50 - £200">
                      <label class="form-check-label" for="exampleRadios2">
                        £50 - £200
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="adspend" id="exampleRadios3" value="> £200">
                      <label class="form-check-label" for="exampleRadios3">
                        > £200
                      </label>
                    </div>
                  </div>

                  <!-- Question 3 -->

                  <div class="form-group">
                    <label>3.If not, is the cost and effort/time the main factor for not advertising?</label>
                  <!--<p class="text-primary">Do you currently do any form of advertisement?</p>-->
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="noad" id="exampleRadios1" value="Yes">
                    <label class="form-check-label" for="exampleRadios1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="noad" id="exampleRadios2" value="No">
                    <label class="form-check-label" for="exampleRadios2">
                      No
                    </label>
                  </div>
                  </div>

                  <!-- Question 4 -->

                  <div class="form-group">
                    <label>4.Have you ever promoted (or thought of promoting) your business/brand or services visually at different venues such as coffee shops, pubs, restaurants, retail stores etc.?</label>
                  <!--<p class="text-primary">Do you currently do any form of advertisement?</p>-->
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="visualad" id="exampleRadios1" value="Yes">
                    <label class="form-check-label" for="exampleRadios1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="visualad" id="exampleRadios2" value="No">
                    <label class="form-check-label" for="exampleRadios2">
                      No
                    </label>
                  </div>
                  </div>

                  <!-- Question 5 -->

                  <div class="form-group">
                    <label for="comment">5.If not, what is the main reason?</label>
                    <textarea class="form-control" rows="2" id="comment" placeholder="Comment" name="comment"></textarea>
                  </div>

                  <!-- Question 6 -->

                  <div class="form-group">
                    <label>6.If yes, how much did it cost you or how much would you be willing to pay for it?</label>
                    <input type="number" class="form-control" placeholder="£" name="pay"/>
                  </div>

                  <!-- Question 7 -->

                  <div class="form-group">
                    <label>7.If you have previously done a visual advertisement before, how long did it take for you to create and publish your advertisement?</label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="duration" id="exampleRadios1" value="< £50">
                      <label class="form-check-label" for="exampleRadios1">
                        < 1 day
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="duration" id="exampleRadios2" value="£50 - £200">
                      <label class="form-check-label" for="exampleRadios2">
                        1 - 2 weeks
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="duration" id="exampleRadios3" value="> £200">
                      <label class="form-check-label" for="exampleRadios3">
                        > 2 weeks
                      </label>
                    </div>
                  </div>

                  <!-- Question 8 -->
                  <div class="form-group">
                    <label>8.Name</label>
                    <input type="text" class="form-control" placeholder="Full name" name="name"/>
                  </div>

                  <!-- Question 9 -->
                  <div class="form-group">
                    <label for="exampleFormControlInput1">9.Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email" required/>
                  </div>


                  <!-- Question 10 -->
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">10.Business type</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="businesstype" required>
                      <option>Personal Trainer</option>
                      <option>Group Class Instructor (Zumba, Aerobics etc.)</option>
                      <option>Teacher (Academic, Music etc.)</option>
                      <option>Mobile Service Provider (Mobile Cleaner, Hairdresser etc.)</option>
                      <option>Life Coach</option>
                      <option>Freelancer (Graphic designer, full stack developer etc.)</option>
                      <option>Small Business - Professional (Estate Agent, Solicitors etc.)</option>
                      <option>Small Business - Health (Gym, Health clubs etc.)</option>
                      <option>Food & Beverages - Small Business (Restaurant, Bars, Fast Food etc.)</option>
                      <option>Start ups</option>
                      <option>Brands</option>
                    </select>
                  </div>


<!--                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" placeholder="Email id" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required/>
                    &lt;!&ndash;<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;
                  </div>-->

                  <!-- Question 11 -->
                  <div class="form-group">
                    <label for="telephone">11.Telephone/Mobile</label>
                    <input type="number" class="form-control" placeholder="Telephone/Mobile no" id="telephone" name="telephone" required/>
                  </div>
                  <!-- Question 12 -->
                  <div class="form-group">
                    <label for="Website">12.Website/Social Media</label>
                    <input type="text" class="form-control" placeholder="Website url or Social Media" id="Website" name="website" />
                  </div>
                  <!-- Pictures -->
                  <div class="form-group">
                    <label for="exampleFormControlFile1"></label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image" multiple/>
                  </div>

                  <div class="form-group">
                    <input class="btn btn-primary" type="submit"  />
                  </div>
                </form>
            </div>
          </div>


          <!--<a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Submit</a>-->
        </div>
      </div>
    </div>
  </section>

















  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.fb.me/doohmauk/">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
<!--        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>-->
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://www.instagram.com/doohma/">
            <i class="icon-social-instagram"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Doohma 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/stylish-portfolio.min.js"></script>

</body>





</html>
